{:deps {speclj/speclj {:mvn/version "3.12.1"}
        babashka/fs {:mvn/version "0.5.25"}
        babashka/process {:mvn/version "0.5.22"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        io.github.slagyr/gherclj {:git/url "https://github.com/slagyr/gherclj"
                                   :git/sha "4966b48d2db1a4796ec7163502286411b7b40873"}}
 :paths ["src" "spec"]
 :aliases
 {:spec {:main-opts ["-m" "speclj.main" "-c" "spec/braids" "-s" "src"]}
  :cov  {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
         :main-opts ["-m" "speclj.cloverage" "--" "-p" "src" "-s" "spec" "--lcov"]}
  :crap {:extra-deps {io.github.unclebob/crap4clj
                       {:git/url "https://github.com/unclebob/crap4clj"
                        :git/sha "9f12da1b09bc1177f8f058108cf22a73bc9a97a0"}}
         :main-opts ["-m" "crap4clj.core"]}
   :mutate {:extra-deps {io.github.slagyr/clj-mutate
                          {:git/url "https://github.com/slagyr/clj-mutate"
                           :git/sha "a970794fc362fe0e8124fa82c23195208657f0b8"}
                         org.clojure/tools.reader {:mvn/version "1.4.2"}}
            :extra-paths ["spec"]
            :main-opts ["-m" "clj-mutate.core"]}
  :spec-structure-check {:extra-deps {io.github.unclebob/speclj-structure-check
                                       {:git/url "https://github.com/unclebob/speclj-structure-check"
                                        :git/sha "7cc804c4e99b3482ca1d8a26b735ed41751a03ab"}}
                         :main-opts ["-m" "speclj-structure-check.core"]}}}
